.post-style{
    font-family: 'Roboto', sans-serif;
width: 100%;
background-color: #EFE1FF;

}
.delete-post:hover{
    color: rgb(119, 60, 189);
    cursor: pointer;
 }
 .bookmark-post:hover{
    color: rgb(119, 60, 189);
    cursor: pointer;
}
.post-style-map{
  position: relative; /* Add this line */
  margin-top: 10px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.delete-post {
 
}

.bookmark-post {
 
}
.userName-style{
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
}
.category-type{
    font-family: 'Roboto', sans-serif;;
font-weight: 600;
font-size: 14px;
line-height: 18px;
letter-spacing: 0px;
background-color: #EFE1FF;
display: inline-block;
color: #773CBD;
padding: 10px;
border-radius: 8px;
}
.post-title{
    font-family:'Roboto', sans-serif;;
font-weight: 600;
font-size: 20px;
line-height: 20px;
letter-spacing: 0px;
color: #151E29;
margin-top: 15px;
margin-bottom: 10px;

}
.post-description{
    font-family: 'Roboto', sans-serif;;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0px;
color: #3D4651;
margin-bottom: 10px;

}
.postImg{
    width: 100%;
    max-width: 100%;
    height: 300px;
    
    display: flex;
    justify-content: center;
   
}
.postImg img{
    max-width: 100%;
    max-height: 100%;
}
.pfp-img{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: #151E29;
}
.comment-name{
    
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
color: #151E29;
margin-bottom: 5px;
}
.comment-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.comment-img{
    border-radius: 50px;
    height: 32px;
    width: 32px;
    background-color: #151E29;
    margin: 5px;
    min-width: 32px;
}
 
.pfp-detail{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    font-family:'Roboto', sans-serif;
}
 .post-style-map .anticon{
    display: flex;
    justify-content: flex-end;
 }
 .post-attribute{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
 }
.follow{
    background-color: #D3F887;
    align-self: center;
    padding: 10px;
    font-weight: 500;
   cursor: pointer;
    border-radius: 8px;
}
.created-by{
    padding: 10px;
    display: flex;
}
.created-at{
    font-family: 'Roboto', sans-serif;;
font-weight: 400;
font-size: 14px;
line-height: 18px;
letter-spacing: 0px;
vertical-align: middle;
color: #696F77;
}
.vote{
    text-align: center;
}
.voted {
    fill: #773CBD;
    animation: click-feedback 0.1s ease;
}
.vote img{
   
  width: 20px; /* Typical size, adjustable */
  height: 20px;
  fill: #f1f3f5; /* Reddit’s gray, a muted neutral tone */
  cursor: pointer; /* Indicates clickability */
  transition: fill 0.2s ease; /* Smooth color transition */


   
}
.comment-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    gap: 5px; 
    margin: 10px;
    color: #696F77;
    text-align: center;
   
}
.dashoutline-fields{
    margin: 0;
    display: flex
;
    align-items: center;
    gap: 5px;
    margin: 10px;
}   
.dashoutline-fields{ 
margin: 0;
display: flex;
align-items: center;
}
.anticon-comment{
    margin-right: 5px;
}
.comment-icon p {
    margin: 0;
    display: flex;
    align-items: center;
}
.add-comment {
    display: flex;
}
   
.custom-inp{
    width: 100%;
}
.ant-btn{
    background-color: #773CBD;
}
.submit-comment-btn {

    background-color: #EFE1FF; 
    color: #773CBD;
    font-family: 'Roboto', sans-serif;
   
    
    border: none; 
    border-radius: 8px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
 margin-left: 10px;
 font-family: Proxima Nova;
font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0px;
text-align: center;

 width: 100%;
 height: 40px;
 max-width: 169px;
  }
  .add-comment .ant-inp{
    border-color: #773CBD;
    height: 40px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .submit-comment-btn:hover {
    background-color: #5A2D91; 
  }
  
  .submit-comment-btn:active {
    background-color: #4A2375; 
  }