.forumpage{
    display: flex;
}
.post-content{
    display: flex;
    flex-direction: column;
}
.content-select a{
text-decoration: none;
color: #696F77;
}
.post-content{
    display: flex;
    flex-direction: column;
}
.content-select a{
text-decoration: none;
color: #696F77;
}